extends layout

block content
  h2 User List Page
  ul
    li fake user
    li another one
    li yet more fakes

  p
    | If you can see this, you are authorized for the "users.view" activity

  p
    h2 
      a(href="/") home
